port: 4222

http: 8222

jetstream {
  # Where JetStream data is stored inside container
  store_dir: "/data/jetstream"

  # Optional limits
  max_memory_store: 1Gb
  max_file_store: 10Gb
}

# (Optional) basic monitoring
server_name: "nats-js-local"

# (Optional) enable debug/trace logs
# debug: true
# trace: true
